<div id="<%= dom_id booking %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Vehicle:</strong>
    <%= booking.vehicle_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Client:</strong>
    <%= booking.client_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Waiting time:</strong>
    <%= booking.waiting_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total value:</strong>
    <%= booking.total_value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= booking.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End date:</strong>
    <%= booking.end_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Target payment:</strong>
    <%= booking.target_payment %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this booking", booking, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this booking', edit_booking_path(booking), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
