<%= form_with(model: vehicle) do |form| %>
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-2 gap-4">
      <% if vehicle.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>
          <ul>
            <% vehicle.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mb-6">
        <%= form.label :brand_id, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <%= form.text_field :brand_id, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="mb-6">
        <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="mb-6">
        <%= form.label :color, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <%= form.text_field :color, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="mb-6">
        <%= form.label :qty_passengers, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <%= form.number_field :qty_passengers, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="mb-6">
        <%= form.label :plate, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <%= form.text_field :plate, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="mb-6">
        <%= form.label :value, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        <%= form.text_field :value, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
    </div>
    <div class="action">
      <%= form.submit 'Enviar', class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
    </div>
  </div>
<% end %>
